<!DOCTYPE html> 
<html lang=”pl”> 
<body>

    <h2>Tabele</h2><br>
    
    <a href="{{ url_for('tabela_adres') }}">Adres  |   </a>
    <a href="{{ url_for('tabela_znizka') }}">Zniżka  |   </a> 
    <a href="{{ url_for('tabela_ocena') }}">Ocena  |   </a> 
    <a href="{{ url_for('tabela_klient') }}">Klient  |   </a><br> 
    <a href="{{ url_for('tabela_kierowca') }}">Kierowca  |   </a>
    <a href="{{ url_for('tabela_rodzsam') }}">Rodzaj samochodu  |   </a> 
    <a href="{{ url_for('tabela_egzemplarz') }}">Egzemplarz  |   </a> 
    <a href="{{ url_for('tabela_oplata') }}">Opłata  |   </a><br>
    <a href="{{ url_for('tabela_taryfa') }}">Taryfa  |</a> 
    <a href="{{ url_for('tabela_kurs') }}">Kurs  |  </a>
    <a href="{{ url_for('tabela_historia') }}">Historia  |</a>   

    <br><br><a href="{{ url_for('index') }}">Strona główna</a>
    
</body> 
</html>
